main{
    display: flex;
    flex-wrap: wrap;

}
article{
    width: 25%;
    height: 364px;
    margin: 3% 3%;
    overflow: hidden;
    
}
.cart_text-descriptionContainer{
 font-size: 12px;
}
.fa-clock{
    display: flex;
    justify-content: center;
    align-items: center;
}