.ingredient {
  font-weight: 700;
}

.text_timer_timer {
  font-weight: 700;
}
.card{
  height: 92%;
}
.card-body{
  z-index:0 ;
  ul{
    font-size: 0.8em;
  }
  .card-text{
    font-size: 0.8em;
  }
  h5{
    font-size: 1em;
    width: 120%;
  }
}
.text_timer_timer{
  padding: 0;
}
.card-body{
  padding-top: 0;
}
.jumbotron{
  height: 50%;
}