/* custom color */

$colorSecondarySearch1: #3282f7;
$colorSecondarySearch2: #68d9a4;
$colorSecondarySearch3: #ed6454;

.header_title{
  color: #D04F4F;
}

.header_searchbar-secondarySearchContainer1 {
  background-color: $colorSecondarySearch1;
  .active-ingredient{
   background-color:  $colorSecondarySearch1;

   
  }
  input {
    background-color: $colorSecondarySearch1;
    :-ms-input-placeholder {
      color: white;
    }
  }
}
.search_secondarySearchContainer-secondarySearch1::placeholder{
color: white;
}
.search_secondarySearchContainer-secondarySearch2::placeholder{
 color: white;
}
.search_secondarySearchContainer-secondarySearch3::placeholder{
color: white;
}

.container-input1:focus-within{
  img{
    transform: rotate(180deg)  ;
    transition-duration: 0.4s;

  }
}
.container-input2:focus-within{
  img{
    transform: rotate(180deg)  ;
    transition-duration: 0.4s;

  }
}
.container-input3:focus-within{
  img{
    transform: rotate(180deg)  ;
    transition-duration: 0.4s;

  }
}

.container-input1{
  height: 69px;
  
}

.header_searchbar-secondarySearchContainer2 {
  background-color: $colorSecondarySearch2;
  .container-input2{
    height: 69px;
  }
  input {
    background-color: $colorSecondarySearch2;
    :-ms-input-placeholder {
      color: white;
    }
  }
}
.header_searchbar-secondarySearchContainer3 {
  background-color: $colorSecondarySearch3;
  .container-input3{
    height: 69px;
  }
  input {
    background-color: $colorSecondarySearch3;
    
    ::placeholder {
      color: white;
    }
  }
}

.header_searchbar-mainSearchContainer {
 
  height: 69px;

  border-radius: 5px;

  
}

.header_searchbar_mainSearch {
  width: 90%;
  height: 100%;
  border: none;
}
input:focus-visible {
  outline: none;
  border: none;
}
input {
  border: none;
}

.form-control:focus {
  background-color: inherit;
  border: none;
  box-shadow: none;
}
.container-secondarySearch1_suggestions{
  background-color: inherit;
  position: absolute;
 
}
.container-secondarySearch2_suggestions{
  background-color: inherit;
  position: absolute;
  
}
.container-secondarySearch3_suggestions{
  background-color: inherit;
  position: absolute;
 
}

input {
  border: none;
}
.btn {
  border-radius: none;
}
.header-mainSearch-Container{
  background-color: #e7e7e7;
  border-radius: 5px;
}

#dataInput-mainSearch {
  color: black;
  background-color: transparent;
  border:none;
  box-shadow: none;
}
#dataInput-mainSearch:focus{
  border:none;
  box-shadow: none;
}
.btn-searchMain {
  background-color: transparent;
}

.active-ingredient{
  display: flex;
  
 
}
ul{
  position:absolute;
  z-index: 2;
  padding: 0;
  width: 100%;
}
li{
  cursor: pointer;
  position: relative;
  margin-left: 0;
  z-index: 2;
  text-decoration: none;
  list-style: none;


}
.secondarySearch-item_1:hover{
  border-radius: 5px;
background-color: darken($color: #3282F7
, $amount: 30%);
 

}
.secondarySearch-item_2:hover{
  background-color: darken($color:#68D9A4 , $amount: 30%);
  border-radius: 5px;

}
.secondarySearch-item_3:hover{
  background-color: darken($color:#ED6454 , $amount: 30%);
  border-radius: 5px;
}
