/* custom color */

$colorSecondarySearch1 : #3282F7;
$colorSecondarySearch2 : #68D9A4;
$colorSecondarySearch3 : #ED6454;


.header_searchbar-secondarySearchContainer1{
    background-color: $colorSecondarySearch1;
    input{
        background-color: $colorSecondarySearch1;
      :-ms-input-placeholder{
       color: white; 
    }  
    }
}
.header_searchbar-secondarySearchContainer2{
    background-color: $colorSecondarySearch2;
    input{
        background-color: $colorSecondarySearch2;
      :-ms-input-placeholder{
       color: white; 
    }  
    }
}
.header_searchbar-secondarySearchContainer3{
    background-color: $colorSecondarySearch3;
    input{
        background-color: $colorSecondarySearch3;
      ::placeholder{
       color: white; 
    }  
    }
    
}

.header_searchbar-mainSearchContainer{
    width: 95%; 
    height:69px;
    border: 2px black solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.header_searchbar_mainSearch{
    width: 90%;
    height: 100%;
    border: none;
}
input:focus-visible {
    outline:none;
    border:none
}
input{
    border: none
}
